<%= form_with model: plan, url: update_trading_plan_path, method: :post, multipart: true do |form| %>
  <input hidden type="text" name="id" value="<%= plan.id %>">
  <div class="modal fade" id="editModal<%= plan.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Investment Plan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="iq-card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name<%= plan.id %>">Plan Name <span style="color: red">*</span></label>
                <input type="text" class="form-control" id="name<%= plan.id %>" name="name" value="<%= plan.name %>" placeholder="Enter Full Name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="price<%= plan.id %>">Price <span style="color: red">*</span></label>
                <input type="number" class="form-control" id="price<%= plan.id %>" name="price" value="<%= plan.price %>" placeholder="Enter price">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">Select Duration Period <span style="color: red">*</span></label>
                <select required class="form-control" name="duration_in_days">
                  <option disabled>Select Duration Period</option>
                  <% PlanDuration.where(is_active: true, plan_type: "trading_plan").each do |duration| %>
                    <option value="<%= duration.duration_in_days %>" <%= 'selected' if duration.duration_in_days == plan.duration_in_days %>><%= duration.duration_in_days %></option>
                  <% end %>
                </select>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="profit_percentage<%= plan.id %>">Profit Percentage <span style="color: red">*</span></label>
                <input type="number" class="form-control" id="profit_percentage<%= plan.id %>" value="<%= plan.profit_percentage %>" name="profit_percentage" placeholder="Enter Profit Percentage">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="deduction_fee<%= plan.id %>">Deduction Fee in Amount <span style="color: red">*</span></label>
                <input type="number" class="form-control" id="deduction_fee<%= plan.id %>" value="<%= plan.deduction_fee %>" name="deduction_fee" placeholder="Enter Deduction Fee">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="commission_rate<%= plan.id %>">Referral Commission <span style="color: red">*</span></label>
                <input type="number" class="form-control" id="commission_rate<%= plan.id %>" value="<%= plan.commission_rate %>" name="commission_rate" placeholder="Enter Referral Commission">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="description<%= plan.id %>">Description <span style="color: red">*</span></label>
                <textarea class="form-control" id="description<%= plan.id %>" name="description" placeholder="Enter Description" rows="5" maxlength="100"><%= plan.description %></textarea>
              </div>
            </div>


            <div class="col-md-6 mt-2">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input" name="is_active" id="ActiveEdit<%= plan.id %>" <%= 'checked' if plan.is_active %>>
                  <label class="custom-control-label" for="ActiveEdit<%= plan.id %>">Inactive / active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
