<div class="container-fluid">
  <div class="col-lg-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
      <div class="iq-card-header d-flex justify-content-between">
        <% if @can_create %>
          <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#userModal">
            <i class="ri-add-fill"><span class="pl-1">Add New</span></i></button>
          <%= form_with url: new_trading_plan_path, method: :post, multipart: true do |form| %>
            <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Trading Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="iq-card-body">
                    <div class="row">


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Plan Name <span style="color: red">*</span></label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="price">Price <span style="color: red">*</span></label>
                          <input type="number" class="form-control" id="price" name="price" placeholder="Enter price">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label">Select Duration Period <span style="color: red">*</span></label>
                          <select required class="form-control sumoselect2" name="duration_in_days" placeholder="Select Duration Period">
                            <option selected>Select Duration Period</option>
                            <% PlanDuration.where(is_active: true,plan_type: "trading_plan").each do |duration| %>
                              <option value="<%= duration.duration_in_days %>"><%= duration.duration_in_days %></option>
                            <% end %>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="profit_percentage">Profit Percentage <span style="color: red">*</span></label>
                          <input type="number" class="form-control" id="profit_percentage" name="profit_percentage" placeholder="Enter Profit Percentage">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="description">Description <span style="color: red">*</span></label>
                          <textarea class="form-control" id="description" name="description" placeholder="Enter Description" rows="5" maxlength="100"></textarea>
                        </div>
                      </div>


                      <div class="col-md-6 mt-2">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" name="is_active" id="Active" checked="checked">
                            <label class="custom-control-label" for="Active">Inactive / active</label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
        <button class="btn btn-info" data-toggle="modal" data-target="#manualProfitLossModal">
          <i class="ri-calculator-line"><span class="pl-1">Manual Profit/Loss</span></i>
        </button>


        <!-- Manual Profit/Loss Modal -->
        <div class="modal fade" id="manualProfitLossModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Apply Manual Profit/Loss</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_with url: apply_manual_profit_loss_path, method: :post, id: "manualProfitLossForm" do |f| %>
                  <!-- Multi-Select Dropdown for Trading Plan Users -->
                  <div class="form-group">
                    <label>Select Users for Trading Plan</label>
                    <select name="user_ids[]" class="form-control" id="userSelect" multiple="multiple" required>
                      <option></option>

                      <% @trading_plan_users.each do |user| %>
                        <option value="<%= user.id %>"><%= user.full_name %> - <%= user.email %></option>
                      <% end %>
                    </select>
                  </div>

                  <!-- Profit/Loss Percentage Input -->
                  <div class="form-group">
                    <label for="percentageInput">Enter Percentage (%)</label>
                    <input type="number" name="percentage" id="percentageInput" class="form-control" placeholder="Enter % Profit/Loss" required>
                  </div>

                  <!-- Profit or Loss Toggle -->
                  <div class="form-group">
                    <label for="profitLossType">Select Type</label>
                    <select name="profit_loss_type" id="profitLossType" class="form-control" required>
                      <option selected disabled>Select Type</option>
                      <option value="profit">Profit</option>
                      <option value="loss">Loss</option>
                    </select>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>



        <div class="iq-header-title">
          <h4 class="card-title"><%= @sub_module_name.gsub('_', ' ').titleize %></h4>
        </div>

      </div>
      <div class="iq-card-body">
        <div class="table-responsive">
          <table id="datatable" class="table mb-0 mt-2 table-borderless">
            <thead>
            <tr>
              <th scope="col" class="font-weight-bold">Plan Name</th>
              <th scope="col" class="font-weight-bold">Price</th>
              <th scope="col" class="font-weight-bold">Profit %</th>
              <th scope="col" class="font-weight-bold">Duration</th>
              <th scope="col" class="font-weight-bold">Users</th>
              <th scope="col" class="font-weight-bold">Is Active?</th>
              <th scope="col" class="font-weight-bold">Action</th>
            </tr>
            </thead>
            <% if @trading_plan.present? %>
              <tbody>
              <% @trading_plan.order(id: :desc).each do |plan| %>
                <tr>
                  <td>
                    <h6><%= plan.name %></h6>
                  </td>
                  <td>
                    <h6><%= plan.price %></h6>
                  </td>
                  <td><%= (plan.profit_percentage) %>%</td>
                  <td><%= (plan.duration_in_days) %> Days</td>
                  <td>
                    <% user_count = plan.purchases.where(approved: true, status: 'active').count %>
                    <% if user_count > 0 %>
                      <span class="badge badge-success"><%= user_count %></span>
                    <% else %>
                      <span class="badge badge-warning">0</span>
                    <% end %>
                  </td>
                  <td>
                    <span class="badge rounded-pill <%= plan.is_active ? 'badge-info' : 'badge-danger' %>">
                      <%= plan.is_active ? 'Active' : 'In Active' %>
                      <span class="ri-<%= plan.is_active ? 'check-fill' : 'user-unfollow-line' %> mx-1"></span>
                    </span>
                  </td>
                  <td>
                    <% if @can_edit %>
                      <a data-toggle="modal" data-target="#editModal<%= plan.id %>" class="animate">
                        <i class="ri-ball-pen-fill text-success pr-1 font-size-18"></i>
                      </a>
                    <% end %>
                    <% if @can_delete %>
                      <a data-toggle="modal" data-target="#modalBootstrapdelete<%= plan.id %>" class="animate">
                        <i class="ri-delete-bin-5-line text-danger font-size-18"></i>
                      </a>
                    <% end %>
                  </td>
                  <%= render 'edit_modal', plan: plan if @can_edit %>
                  <%= render 'delete_modal', plan: plan if @can_delete %>


                </tr>
              <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
    .animate i {
        transition: all 0.3s ease;
    }

    .animate:hover i {
        font-size: 22px;
    }
</style>
<script>
    function updateFileName(input) {
        var fileName = input.files[0].name;
        var label = input.nextElementSibling;
        label.innerText = fileName;
    }
</script>
<script>
    $(document).ready(function() {
        $('#userSelect').select2({
            placeholder: 'Select users for manual profit/loss',
            width: '100%'
        });
    });
</script>