<div class="container-fluid">
  <div class="col-lg-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
      <div class="iq-card-header d-flex justify-content-between">
        <% if @can_create %>
          <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#userModal">
            <i class="ri-add-fill"><span class="pl-1">Add New</span></i></button>
          <%= form_with url: new_plan_duration_path, method: :post, multipart: true do |form| %>
            <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Plans Duration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="iq-card-body">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label">Plan Type <span style="color: red">*</span></label>
                          <select required class="form-control sumoselect2" name="plan_type" placeholder="Select Plan Type">
                            <option selected>select Plan Type</option>
                            <option value="investment_plan">Investment Plan</option>
                            <option value="trading_plan">Trading Plan</option>
                            <option value="staking">Staking</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="duration_in_days">Duration Period in (Days) <span style="color: red">*</span></label>
                          <input type="number" class="form-control" id="duration_in_days" name="duration_in_days" placeholder="Enter Duration Period in Days">
                        </div>
                      </div>

                      <div class="col-md-6 mt-2">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" name="is_active" id="Active" checked="checked">
                            <label class="custom-control-label" for="Active">Inactive / active</label>
                          </div>
                        </div>
                      </div>


                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
              </div>

          <% end %>
        <% end %>

        <div class="iq-header-title">
          <h4 class="card-title"><%= @sub_module_name.gsub('_', ' ').titleize %></h4>
        </div>

        </div>
        <div class="iq-card-body">
          <div class="table-responsive">
            <table id="datatable" class="table mb-0 mt-2 table-borderless">
              <thead>
              <tr>
                <th>Plan Type</th>
                <th>Duration Period</th>
                <th scope="col" class="font-weight-bold">Is Active?</th>
                <th>Actions</th>
              </tr>
              </thead>
              <% if @plan_duration.present? %>
                <tbody>
                <% @plan_duration.order(id: :desc).each do |plan_duration| %>
                  <tr>
                    <td><%= plan_duration.plan_type.gsub('_', ' ').titleize %></td>
                    <td><%= plan_duration.duration_in_days %></td>
                    <td>
                    <span class="badge rounded-pill <%= plan_duration.is_active ? 'badge-info' : 'badge-danger' %>">
                      <%= plan_duration.is_active ? 'Active' : 'In Active' %>
                      <span class="ri-<%= plan_duration.is_active ? 'check-fill' : 'user-unfollow-line' %> mx-1"></span>
                    </span>
                    </td>
                    <td>
                      <% if @can_edit %>
                        <a data-toggle="modal" data-target="#editModal<%= plan_duration.id %>" class="animate">
                          <i class="ri-ball-pen-fill text-success pr-1 font-size-18"></i>
                        </a>
                      <% end %>
                      <% if @can_delete %>
                        <a data-toggle="modal" data-target="#modalBootstrapdelete<%= plan_duration.id %>" class="animate">
                          <i class="ri-delete-bin-5-line text-danger font-size-18"></i>
                        </a>
                      <% end %>
                    </td>
                    <%= render 'edit_modal', plan_duration: plan_duration if @can_edit %>
                    <%= render 'delete_modal', plan_duration: plan_duration if @can_delete %>


                  </tr>
                <% end %>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <style>
      .animate i {
          transition: all 0.3s ease;
      }

      .animate:hover i {
          font-size: 22px;
      }
  </style>
  <script>
      function updateFileName(input) {
          var fileName = input.files[0].name;
          var label = input.nextElementSibling;
          label.innerText = fileName;
      }
  </script>
